menu "WIPKAT WIFI"

	config WIPKAT_WIFI
		bool "Enable WiFi"
		default n
		help
			Enable a WiFi connection
	
	config WIPKAT_WIFI_SSID
		depends on WIPKAT_WIFI
		string "WiFi SSID"
		default "WIPKATNET"
		help
			SSID. WiFi network name to connect to

	config WIPKAT_WIFI_PASSWORD
		depends on WIPKAT_WIFI
		string "WiFi password"
		default "password"
		help
			WiFi password (WPA / WPA2) for the network to connect to

endmenu
